body {
    margin: 0;
}
.divv {
    min-height: 800px;
}
.bg { 
    background: gray; min-height: 400px; 
}
.bg1 {
    background: url(images/g3.jpg) fixed;
}
.bg2 {
    background: url(images/g.jpg) fixed; 
}
.bg3 {
    background: url(images/g5.jpg) fixed;
}

.bg4 {
    background: url(images/g4.jpg) fixed;
}
.menu{
   width: 100%;
   float: left;
   opacity: 0.4;
   font-size:2em;
   text-align: center;
   background-color:white;
   animation:nav 12s infinite;
   -webkit-animation:nav 12s infinite;
   z-index: 999;
  
}
 .box1{
    margin: 120px;
    margin-left: 600px;
    margin-top: 40px;
    padding: 30px;
    border: 8px dotted brown;
    position:absolute;
    
}

.box2{
      margin: 120px;
    margin-left: 750px;
    margin-top: 130px;
    padding: 30px;
    border: 8px dotted brown;
    position:absolute;
}
.box3{
    margin: 30px;
    margin-top: 80px;
    padding: 30px;
    border: 8px dotted brown;
    position:absolute;
    
}
.fox{
    color:black;
    background-color: white;
    opacity: 0.6;
    border:6px dotted red;
 
}
.fox1{
    color:black;
    background-color: #ffff99;
    opacity: 0.6;
    border-radius: 40px;
}
.imbox1{
    
    width:40%;
    height: 60%;
    border: 4px outset black;
    position: absolute;
    margin-left:690px;
    margin-top: 130px;
    background: url('http://cdn.pastemagazine.com/www/articles/Passenger%20All%20the%20little%20lights.png?1350836261');
}
.imbox2{
    width:40%;
    height: 60%;
    border: 4px outset black;
    border-radius: 60px;
    position: absolute;
     margin: 40px;
     margin-top: 90px;
    padding: 30px;
    background: url('images/olej.jpg');
}
.imbox3{
    width:20%;
    height: 50%;
    border: 4px outset black;
    position: absolute;
    margin-left:840px;
    margin-top: 130px;
    background: url('images/i3.jpg') ;
}
.kox{
    position: fixed;
   }
   
ul.naw {
        /*position: fixed;*/
        list-style-type:none;
        margin:0;
        padding:0;
        display:block;
        
      }
  ul.naw li.naw a.naw {
        
        text-decoration:none; 
        display:block;
        padding:10px 5px;
        border:2px solid transparent;
        border-radius: 12px;
        border-top: 0px solid #3D3D3D;
        border-right: 2px ridge gray;
        color:black;
        float:left;
        transition-property:background-color;
        transition-duration:4s;
      }
      
  ul.naw li.naw a.naw:hover{
          color:#000; 
          border:2px solid #3D3D3D;
          border-top-color:#FFF;
          border-radius: 20px;
          border-top:none; 
          background-color:greenyellow;   
          font-size: 1.2em;
          border-left: 0;
      }
      
   
      
   @keyframes nav {
          0%{background-color:#99FFFF}
          30%{background-color:#FFFF99}
          60%{background-color:#CCFFCC}
          100%{backgroung-color:#99FFFF}
      } 
  
@keyframe animacja{
  0%{background-color:red;}
  50%{background-color:white;}
  100%{background-color:blue}
    
}
   

